<!DOCTYPE html>
<html>

<head>

    <title>SmartATS</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="main-container">

<div class="card">

<h1>SmartATS</h1>

<p class="subtitle">
AI Powered Resume Analyzer
</p>

<form action="/upload"
method="POST"
enctype="multipart/form-data">

<label>Select Occupation</label>

<select name="occupation">

<option value="Full Stack Developer">
Full Stack Developer
</option>

<option value="Cloud Engineer">
Cloud Engineer
</option>

<option value="Cyber Security Analyst">
Cyber Security Analyst
</option>

<option value="Data Scientist">
Data Scientist
</option>

<option value="AI/ML Engineer">
AI/ML Engineer
</option>

<option value="UI/UX Designer">
UI/UX Designer
</option>

</select>


<label>Paste Job Description</label>

<textarea
name="job_description"
placeholder="Paste job description..."
></textarea>


<label>Upload Resume</label>

<input
type="file"
name="resume"
accept=".pdf,.docx"
>

<button type="submit">

Analyze Resume

</button>

</form>

</div>

</div>

</body>
</html>